html {
  font-size: 18px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #000;
}

.disable {
  color: #ccc;
}

.red,
.green {
  display: flex;
  align-items: center;
}

.red p,
.green p {
  margin: 0;
}

.red div,
.green div {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #000;
  margin-right: 5px;
}

.red div {
  background-color: red;
}

.green div {
  background-color: green;
}


/*Table*/
table {
  border-collapse: collapse;
  border: 1px solid #000;
}

table th,
table td {
  text-align: center;
}

table td {
  border: 1px solid #000;
}

table td:not(.disable) {
  cursor: pointer;
}

table td:not(.disable):hover {
  background-color: #ccc;
  transition: 0.2s;
}

/*Button*/

.btn {
    background: rgb(46,201,110);
  background: linear-gradient(0deg, rgba(46,201,110,1) 0%, rgba(40,178,97,1) 85%, rgba(45,200,110,1) 100%);
  color: #fff;
}

.btn:hover {
  background: rgb(40,178,97);
  background: linear-gradient(0deg, rgba(40,178,97,1) 0%, rgba(46,201,110,1) 85%, rgba(45,200,110,1) 100%);
  color: #fff;
}

.button button {
  display: none;
}
